.center-line {
  background-color: #aaa;
}

.node:hover {
  opacity: 0.6;
  cursor: pointer;
}

div.tooltip {
  white-space: nowrap;
  position: absolute;
  color: white;
  text-align: center;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 2px 9px;
  font: 12px sans-serif;
  background: rgba(0,0,0,0.8);
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
