
.center-line {
  background-color: #aaa;
}

.label {
  color: white;
}

.node:hover {
  opacity: 0.6;
  cursor: pointer;
}

div.tooltip {
  white-space: nowrap;
  position: absolute;
  color: white;
  text-align: center;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 2px 9px;
  font: 12px sans-serif;
  background: rgba(0,0,0,0.8);
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.subunit {
  fill: grey;
  stroke: #A9A9A9;
  stroke-width: 1;
}

.state:hover {
  fill-opacity: 0.5;
}

.bubble {
  fill: orange;
  fill-opacity: .5;
  stroke: #fff;
  stroke-width: .5px;
}

.bubble :hover {
  stroke: #000;
}

h2 {
  text-align: center;
}
